---
title: About ready4
linkTitle: About
menu:
  main:
    weight: 1
---

{{< blocks/cover title="About ready4" image_anchor="bottom" height="min" >}}
<h1>ready4 is being implemented by <a href = 'https://www.monash.edu/medicine/sphpm/units/health-economics-group'>Monash University Health Economics Group</a>. The project lead is <a href ="https://github.com/matthewphamilton">Matthew Hamilton</a>.</h1>
{{< /blocks/cover >}}

{{% blocks/lead %}}
<div class="col">
<h1><b>Catalyst</b></h1>
<h2 class="text-center">In July 2017, with funding support from VicHealth, Orygen and Victoria University, we began to plan a modular and <a href = "/docs/software/terms/licenses/">open source</a> health economic model of resilience and mental wellbeing in young people called readyforwhatsnext.</h2>
</div>


{{% /blocks/lead %}}


{{% blocks/lead color="white"%}}
<div class="col">
<h1><b>Current</b></h1>
<h2 class="text-center">We are currently developing the ready4 <a href = "/docs/framework/">software framework</a> for enable us to implement <a href = "https://readyforwhatsnext.org/">readyforwhatsnext</a>. We are pursuing these goals by an Australian Government Research Training Program (RTP) Scholarship funded PhD project and through multiple independently funded and governed modelling projects.
</h2>
</div>
{{% /blocks/lead %}}



