+++
title = "ready4"
linkTitle =  "ready4"
+++

{{< blocks/cover color = "white"  >}}
<div class="mx-auto">
<div class="row justify-content-center align-items-center">
                <div class="col-xl-7 col-lg-6 col-md-6">
                          <h1>
                            Develop living, <a href = "/docs/getting-started/concepts/transferable/">transferable</a> models.<br />
                            Run and report   <a href = "/docs/getting-started/concepts/reproducible-replicable-generalisable/">repeatable</a> analyses.
                            </h1>
                            <br />
                            <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
                                                                              	  		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                                                                              	  		</a>
                                                                              	  		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ready4-dev/">
                                                                              	  		                                                  	  		          	  		  		Code <i class="fab fa-github ml-2 "></i>
                                                                              	  		                                                  	  		          	  		  		</a>
                                                                              	  		                                                  	  		          	  		  		<p class="lead mt-5"> </p>
                                                                              	  		                                                  	  		          	  		  		</div>
                                                                              	  		                                                  	  		          	  		  		<div class="col-xl-5 col-lg-6 col-md-6">
                                                                              	  		                                                  	  		          	  		  		  <img class="img-fluid"
                                                                              	  		                                                  	  		          	  		  		  src="/images/default.svg"
                                                                              	  		                                                  	  		          	  		  		  alt-text="ready4 logo"/>
                                                                              	  		                                                  	  		          	  		  		  </div>
                                                                              	  		                                                  	  		          	  		  		  </div>
          </div>
            {{< /blocks/cover >}}

{{< blocks/lead >}}
<div class="col">
<h1 class="text-center">ready4 is a <a href = "https://rdcu.be/dIv8g">prototype software framework</a> for the development and use of health economic models in R.</h1>
</div>

{{< /blocks/lead >}}

{{< blocks/section color="dark">}}
{{% blocks/feature icon="fab fa-connectdevelop" title="[Develop Models](/docs/tutorials/develop-models/)"  %}}
A [template](/docs/tutorials/develop-models/modularity/) for creating modular models, a simple [syntax](/docs/tutorials/develop-models/syntax/) for attaching algorithms to model modules, libraries for creating and documenting collections of [model modules](/docs/tutorials/develop-models/authoring-modules/) and functions to partially [automate the maintenance of modelling project websites](/docs/tutorials/develop-models/maintenance/). 
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-chart-bar" title="[Use Models](/docs/tutorials/use-models/)" %}}
Tools for [finding reusable model modules](/docs/tutorials/use-models/finding-modules/), [supplying compatible data](/docs/tutorials/use-models/authoring-data/) and [running and reporting repeatable modelling analyses](/docs/tutorials/use-models/authoring-analyses/).
{{% /blocks/feature %}}

{{< /blocks/section >}}



